@import url('https://fonts.googleapis.com/css2?family=Karla&family=Lora:ital@1&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=STIX+Two+Math&display=swap');

header{
    display:flex;
}

.HeaderNavItem{
    color: black;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: .2vw;
    padding-bottom: .2vw;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2vw;
    transition: all 500ms ease;
}

#Phone{
    margin-left: 50px;
}

#Email:hover{
    font-size: 2.5vw;
}

.HeaderBorder1{
    margin-top: .4vw;
    border-radius: 120px 0px;
    border-bottom: .8vw ridge red;
}

.HeaderBorder2{
    border-radius: 120px 0px;
    border-bottom: .8vw ridge yellow;
}

.HeaderBorder3{
    border-radius: 120px 0px;
    border-bottom: .8vw ridge blue;
}

.HeaderButton{
    height: 20%;
    display: flex;
    border:0.35em solid #000000;
    border-radius:0.12em;
    font-weight:300;
    margin-top: 4vw;
    margin-bottom: 4vw;
    margin-left: 14vw;
    cursor: pointer;
}

.HeaderNavItem:hover{
    color:#FFFFFF;
    transition: all 500ms ease;
    background-color: #000000;
}

.AboutMeTitle{
    margin-left: 39.5vw;
    font-family: 'STIX Two Math', serif;
    font-size: 3vw;
    margin-top: 1.3vw;
    height: 50px;
}

.AboutMe{
    height: 24.6vw;
    width: 85vw;
    margin-left: 6vw;
    border-bottom: .8vw ridge red;
    border-right: .8vw ridge yellow;
    border-left: .8vw ridge blue;
}

.AboutMeDescription{
    display: inline-block;
    margin-left: 2.5vw;
    font-size: 1.8vw;
    margin-top: 1vw;
    font-family: 'Karla', sans-serif;
}

p{
    width: 60vw;
}

.ImageOfMe{  
    display: inline;
    float: right;
    height: 21vw;
    width: 16vw;
    margin-top: 1.5vw;
    margin-right: 1.2vw;
	border: .7vw solid #333;
	box-shadow: 0 0 0 15vw rgba(125,135,18,0.3) inset;
}


.Logo{
    height: 10.28vw;
    width: 12vw;
    margin-right: -3vw;
}

.Logo:hover{
    filter: invert(0.18)
}

.ContactElement{
    margin-left: 20.5vw;
    display: inline-block;
    vertical-align: middle;
}

.ContactEntry{
    font-size: 2vw;
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 1vw;
    padding-right: 1vw;
}

.SocialMediaElement{
    display: inline-block;
    vertical-align:middle;
    margin-top: .5vw;
}

.SocialMediaEntry{
    height: 3vw;
    width: 3vw;
    margin-left: 3vw;
}

.SocialMediaEntry:hover{
    filter: invert(0.35) sepia(1) saturate(9.2) hue-rotate(360deg) brightness(1.2);
}