header{
    display:flex;
}

.HeaderNavItem{
    margin-left: 250px;
    font-size: 28px;    
}

.HeaderNavItem:hover{
    color:blue;
}

.Logo{
    display: flex;
    height: 175px;
    width: 200px;
}