@import url('https://fonts.googleapis.com/css2?family=Karla&family=Lora:ital@1&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=STIX+Two+Math&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Sorts+Mill+Goudy&family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Chakra+Petch&family=Josefin+Slab:wght@500&family=Kite+One&family=Raleway:wght@200&family=Saira:wght@300&display=swap');


*{
    caret-color: transparent;
}

header{
    display:flex;
    background-color: rgb(191,220,205);
    position: relative;
    margin-top: -1vw;
    margin-left: -10px;
    width: 100.97%;
    margin-top: -4vw;
}

.LogoContainer{
    width: 50%;
}

.Logo{
    height: 5vw;
    width: 8vw;
}

.Logo:hover{
    filter: invert(0.18)
}

.Name{
    font-family: 'Sorts Mill Goudy', serif;
    font-family: 'Gruppo', cursive;
    font-size: 4vw;
    display: inline-block;
    margin-top: 4.2vw;
    margin-left: 2vw;
    color: black;
    margin-bottom: 1.5vw;
}

.HeaderNavItem{
    color: black;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: .2vw;
    margin-top: 5vw;
    padding-bottom: .2vw;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2vw;
    border-radius: 20px;
    transition: all 400ms ease;
}

.HeaderButton{
    height: 20%;
    display: flex;
    border-radius:0.12em;
    font-weight:300;
    margin-left: 3vw;
    cursor: pointer;
}

.HeaderNavItem:hover{
    color:#FFFFFF;
    transition: all 400ms ease;
    background-color: #000000;
}

body{
    position: relative;
}

/* mobile friendly alternative to using background-attachment: fixed */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #29354B;
    background-image: url("Images/Background_Pattern.png"), linear-gradient(#29354B, #080B0F); /* W3C */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
}

.PDF{
    margin-top: 2vw;
    margin-left: 2%;
}


.ContactElement{
    margin-top: 3vw;
    margin-left: 6.5vw;
    margin-right: 3.5vw;
    display: inline-block;
    vertical-align: middle;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
    color: #CADBCC
}

.ContactEntry{
    font-size: 1.7vw;
    padding-left: 1vw;
    padding-right: 1vw;
    font-weight: bold;
}

.SocialMediaElement{
    display: inline-block;
    vertical-align:middle;
    margin-top: 4vw;
    filter: invert(89%) sepia(21%) saturate(232%) hue-rotate(110deg) brightness(98%) contrast(89%);
}

.SocialMediaEntry{
    margin-top: .3vw;
    height: 3vw;
    width: 3vw;
    margin-left: 10vw;
    padding-bottom: 1vw;
}

.SocialMediaEntry:hover{
    filter: invert(0.35) sepia(1) saturate(9.2) hue-rotate(360deg) brightness(1.2);
}