@import url('https://fonts.googleapis.com/css2?family=Karla&family=Lora:ital@1&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=STIX+Two+Math&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Merriweather:wght@300&family=Montserrat&display=swap');

header{
    display:flex;
}

.Logo{
    height: 10.28vw;
    width: 12vw;
    margin-right: -3vw;
    margin-bottom: 1.5vw;
}

.Logo:hover{
    filter: invert(0.18)
}

.HeaderNavItem{
    color: black;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: .2vw;
    padding-bottom: .2vw;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2vw;
    transition: all 500ms ease;
}

.Entry{
    margin-left: 21vw;
}

.Entry-Header{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 5vw;
    border: .6vw solid black;
    text-align: center;
    margin-top: 3vw;
    padding-bottom: .4vw;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-bottom: 5vw;
    transition: all 500ms ease;
}

.Entry-Header:hover{
    color:#FFFFFF;
    transition: all 500ms ease;
    background-color: #000000;
    border-bottom-color:  red;
    border-left-color:  yellow;
    border-right-color:  blue;
}

.TagHeader{
    display: inline-block;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.7vw;
}

.TagEntries{
    display: inline-flex;
    border-radius: 2vw;
    background-color: #07a3e6;
    padding: .8vw;
    color:white;
    transition: all 400ms ease;
    font-family: 'Montserrat', sans-serif;
}

.TagEntries:hover{
    padding: 1.5vw;
    transition: all 400ms ease;
}

.Item{
    margin-left: 1vw;
}

.Item-Header{
    font-size: 2.2vw;
    margin-bottom: 2vw;
    transition: all 500ms ease;
    margin-top: 4vw;
}

.Item-Link{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-family: 'Exo 2', sans-serif;
    border: .5vw solid black;
    text-align: center;
    transition: all 500ms ease;
    padding: .6vw;
}

.Item-Link:hover{
    color:#FFFFFF;
    transition: all 500ms ease;
    background-color: #000000;
    border-bottom-color:  red;
    border-left-color:  yellow;
    border-right-color:  blue;
    transform: translateY(-.6vw);
}

.Item-Description{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2vw;
    margin-right: 24vw;
    margin-top: 2vw;
}

.Date{
    font-family: 'Exo 2', sans-serif;
    font-size: 2vw;
    margin-top: 1vw;
}

.CSharpLogo{
    height: 12vw;
    width: 12vw;
    border: 2px solid red;
}

.HeaderBorder1{
    margin-top: .2vw;
    border-radius: 120px 0px;
    border-bottom: .8vw ridge red;
}

.HeaderBorder2{
    border-radius: 120px 0px;
    border-bottom: .8vw ridge yellow;
}

.HeaderBorder3{
    border-radius: 120px 0px;
    border-bottom: .8vw ridge blue;
}

.HeaderButton{
    height: 20%;
    display: flex;
    border:0.35em solid #000000;
    border-radius:0.12em;
    font-weight:300;
    margin-top: 4vw;
    margin-bottom: 4vw;
    margin-left: 14vw;
    cursor: pointer;
}

img{
    margin-top: 1vw;
    border: .4vw solid black;
    height: 24.8vw;
    width: 24.5vw;
}

.LargeImg{
    display: flex;
    margin-top: 1vw;
    border: .4vw solid black;
    height: 25vw;
    width: 50vw;
}

.VideoContainer{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 35.25%;
    margin-left: .5vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.Video{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 67%;
    height: 100%;
}

.HeaderNavItem:hover{
    color:#FFFFFF;
    transition: all 500ms ease;
    background-color: #000000;
}

.ContactElement{
    margin-left: 6.5vw;
    margin-right: 3.5vw;
    display: inline-block;
    vertical-align: middle;
}

.ContactEntry{
    font-size: 2vw;
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 1vw;
    padding-right: 1vw;
}

.SocialMediaElement{
    display: inline-block;
    vertical-align:middle;
    margin-top: .5vw;
}

.SocialMediaEntry{
    height: 3vw;
    width: 3vw;
    margin-left: 10vw;
}

.SocialMediaEntry:hover{
    filter: invert(0.35) sepia(1) saturate(9.2) hue-rotate(360deg) brightness(1.2);
}